@import './boat.css';
@import './animations/boat-animation.css';
@import './chair.css';
@import './animations/water-animation.css';
@import './animations/sun-animation.css';
@import './animations/island-surf-animation.css';

:root {
  --bg-light-blue: rgb(135, 206, 235);
  --bg-grey: rgb(211, 211, 211);
  --bg-yellow: rgb(250, 250, 210);
  --bg-green: rgb(32, 178, 170);
  --bg-green-val: 61%;
  --bg-dark-blue: rgb(95, 158, 160);
  --island-light: rgb(255, 160, 122);
  --island-med: rgb(244, 164, 96);
  --island-dark: rgb(139, 69, 19);
  --wave-break: rgba(255, 255, 255, 0.4);
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.bg {
  background: linear-gradient(
    var(--bg-light-blue) 0%,
    var(--bg-grey) 28%,
    var(--bg-yellow) 33%,
    var(--bg-green) 60%,
    var(--bg-dark-blue) 100%
  );
  animation: water 4s ease infinite alternate;
  color: wheat;
  height: 100%;
  width: 100%;
  display: flex;
  position: absolute;
}

.sun {
  animation: sun 5s infinite;
  height: 175px;
  width: 175px;
  position: absolute;
  top: 3%;
  left: 3%;
  border-radius: 100px;
}

.island {
  background: linear-gradient(
    var(--island-light) 0%,
    var(--island-med) 20%,
    var(--island-dark) 100%
  );

  animation: island-surf 8s ease 2s infinite alternate;
  height: 260px;
  width: 100%;
  align-self: flex-end;
  position: absolute;
  z-index: 1;
}
