@import './boat.css';
@import './animations/boat-animation.css';
@import './chair.css';
@import './animations/water-animation.css';
@import './animations/sun-animation.css';
@import './animations/island-surf-animation.css';

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.bg {
  background: linear-gradient(
    skyblue 0%,
    lightgrey 28%,
    lightgoldenrodyellow 33%,
    lightseagreen 60%,
    cadetblue 100%
  );
  animation-name: water;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-direction: alternate;
  color: wheat;
  height: 100%;
  width: 100%;
  display: flex;
  position: absolute;
}

.sun {
  animation-name: sun;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  height: 175px;
  width: 175px;
  position: absolute;
  top: 3%;
  left: 3%;
  border-radius: 100px;
}

.island {
  background: linear-gradient(lightsalmon 0%, sandybrown 20%, saddlebrown 100%);
  animation-name: island-surf;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 2s;
  animation-timing-function: ease;
  height: 260px;
  width: 100%;
  align-self: flex-end;
  position: absolute;
  z-index: 1;
}
