@keyframes water {
  5% {
    background: linear-gradient(
      var(--bg-blue) 0%,
      var(--bg-grey) 28%,
      var(--bg-yellow) 33%,
      var(--bg-green) 61%,
      var(--bg-dark-green) 100%
    );
  }
  10% {
    background: linear-gradient(
      var(--bg-blue) 0%,
      var(--bg-grey) 28%,
      var(--bg-yellow) 33%,
      var(--bg-green) 62%,
      var(--bg-dark-green) 100%
    );
  }
  15% {
    background: linear-gradient(
      var(--bg-blue) 0%,
      var(--bg-grey) 28%,
      var(--bg-yellow) 33%,
      var(--bg-green) 63%,
      var(--bg-dark-green) 100%
    );
  }
  20% {
    background: linear-gradient(
      var(--bg-blue) 0%,
      var(--bg-grey) 28%,
      var(--bg-yellow) 33%,
      var(--bg-green) 64%,
      var(--bg-dark-green) 100%
    );
  }
  25% {
    background: linear-gradient(
      var(--bg-blue) 0%,
      var(--bg-grey) 28%,
      var(--bg-yellow) 33%,
      var(--bg-green) 65%,
      var(--bg-dark-green) 100%
    );
  }
  30% {
    background: linear-gradient(
      var(--bg-blue) 0%,
      var(--bg-grey) 28%,
      var(--bg-yellow) 33%,
      var(--bg-green) 66%,
      var(--bg-dark-green) 100%
    );
  }
  35% {
    background: linear-gradient(
      var(--bg-blue) 0%,
      var(--bg-grey) 28%,
      var(--bg-yellow) 33%,
      var(--bg-green) 67%,
      var(--bg-dark-green) 100%
    );
  }
  40% {
    background: linear-gradient(
      var(--bg-blue) 0%,
      var(--bg-grey) 28%,
      var(--bg-yellow) 33%,
      var(--bg-green) 68%,
      var(--bg-dark-green) 100%
    );
  }
  45% {
    background: linear-gradient(
      var(--bg-blue) 0%,
      var(--bg-grey) 28%,
      var(--bg-yellow) 33%,
      var(--bg-green) 69%,
      var(--bg-dark-green) 100%
    );
  }
  50% {
    background: linear-gradient(
      var(--bg-blue) 0%,
      var(--bg-grey) 28%,
      var(--bg-yellow) 33%,
      var(--bg-green) 70%,
      var(--bg-dark-green) 100%
    );
  }
  55% {
    background: linear-gradient(
      var(--bg-blue) 0%,
      var(--bg-grey) 28%,
      var(--bg-yellow) 33%,
      var(--bg-green) 71%,
      var(--bg-dark-green) 100%
    );
  }
  60% {
    background: linear-gradient(
      var(--bg-blue) 0%,
      var(--bg-grey) 28%,
      var(--bg-yellow) 33%,
      var(--bg-green) 72%,
      var(--bg-dark-green) 100%
    );
  }
  65% {
    background: linear-gradient(
      var(--bg-blue) 0%,
      var(--bg-grey) 28%,
      var(--bg-yellow) 33%,
      var(--bg-green) 73%,
      var(--bg-dark-green) 100%
    );
  }
  70% {
    background: linear-gradient(
      var(--bg-blue) 0%,
      var(--bg-grey) 28%,
      var(--bg-yellow) 33%,
      var(--bg-green) 74%,
      var(--bg-dark-green) 100%
    );
  }
  75% {
    background: linear-gradient(
      var(--bg-blue) 0%,
      var(--bg-grey) 28%,
      var(--bg-yellow) 33%,
      var(--bg-green) 75%,
      var(--bg-dark-green) 100%
    );
  }
  80% {
    background: linear-gradient(
      var(--bg-blue) 0%,
      var(--bg-grey) 28%,
      var(--bg-yellow) 33%,
      var(--bg-green) 76%,
      var(--bg-dark-green) 100%
    );
  }
  85% {
    background: linear-gradient(
      var(--bg-blue) 0%,
      var(--bg-grey) 28%,
      var(--bg-yellow) 33%,
      var(--bg-green) 77%,
      var(--bg-dark-green) 100%
    );
  }
  90% {
    background: linear-gradient(
      var(--bg-blue) 0%,
      var(--bg-grey) 28%,
      var(--bg-yellow) 33%,
      var(--bg-green) 78%,
      var(--bg-dark-green) 100%
    );
  }
  95% {
    background: linear-gradient(
      var(--bg-blue) 0%,
      var(--bg-grey) 28%,
      var(--bg-yellow) 33%,
      var(--bg-green) 79%,
      var(--bg-dark-green) 100%
    );
  }
  100% {
    background: linear-gradient(
      var(--bg-blue) 0%,
      var(--bg-grey) 28%,
      var(--bg-yellow) 33%,
      var(--bg-green) 80%,
      var(--bg-dark-green) 100%
    );
  }
}
